
<ul>
  <li>First Name = <%= @contact.first_name.capitalize %></li>
  <li>Last Name = <%= @contact.last_name.capitalize %></li>
  <li>Email = <%= @contact.email %></li>
  <li>Note = <%= @contact.note %></li>
</ul>
